@media screen {

    main {
        line-height: 1.5;
        
    }

    .gridinfoboxes {
        margin: 0;
        color: white;
        padding: 0;
    }
    
  .grid-list-box {
      padding:0;
  }
  

    .grid-list-box li {
        list-style: none;
        padding: 1rem;
        margin: 0.5rem auto;
        text-align: center;
        border: 8px double white;
        background-color: rgb(175, 175, 175);
        background-image: url(htmlbgismall.jpg);
     /*   box-shadow: 4px 4px 10px 10px rgba(5, 238, 255, 0.673); */
        display: flex;
        flex-flow: column;

        animation-name: lights;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .grid-list-box li p:last-child {margin-top: auto; }


    @media screen and (min-width: 820px) {

        .grid-list-box {
            display: grid;
            grid-template-columns: repeat(3,1fr);
    /*  wenn das Gleiche ohne MediaQuery passieren soll:
            grid-template-columns: repeat(auto-fit,minmax(250px,1fr)); */
            grid-gap: 1rem;
            padding: 0;
            margin: 0;
        }}
    
    @media screen and (max-width: 700px) {
        .bulletvideo {
            max-width: 270px;
            max-height: 200px;
        }

    }

    .bulletproof-container {
        
       
        text-align: center;
        grid-column: 1/4;
    }

    .videos-container {
        display: flex;
        flex-flow: row wrap;
        grid-column: 1/4;
        flex:1;
    }

    .bulletvideo {
        flex:1;
    }

    .video1 {
        flex:1;
        flex-flow: column;
    }

    .sociallinks {
        padding: 1em;
        background-color: rgb(231, 79, 79);
    }
    .socialme {
        padding: 1em;
        margin: 1em;
        background-color: rgb(175, 175, 175);
    }
    
    .socialdk {
        padding: 1em;
        background-color: rgb(166, 10, 10);
        color: white;
        border: 8px double white;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.502);
    }
    
    .tourdates {
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        max-width: 720px;
        padding: 1em 1em 1em 1em;
        color: white;
        background-color: rgba(5, 5, 5, 0.7);
        box-shadow: 1px 1px 100px 2px white;
        border-radius: 50px;
        display: flex;
        flex-flow: column;
        grid-column: 1/3;
    }

    .tourdateblock {
        display: flex;
        flex-flow: column;
        flex: 1;
    }

    .tourdateblock li {
       
        flex: 1;
    }

    
    address {
        text-align: center;
        font-style: normal;
        text-align: center;
        margin: 1rem auto;
        max-width: 720px;
        padding: 1em 1em 1em 1em;
        color: white;
        background-color: rgba(5, 5, 5, 0.7);
     /*   box-shadow: 1px 1px 100px 2px white;  */
        border-radius: 20px;
    }
    
    .About {
        text-align: left;
        margin: 0 auto 1rem;
        max-width: 720px;
        padding: 1em 1em 1em 1em;
        color: white;
        background-color: rgba(5, 5, 5, 0.7);
        box-shadow: 1px 1px 100px 2px white;
        border-radius: 50px;
    }
    
    .tabelle {
        margin-bottom: 1em;
        text-align: center;
    }
    
    .tabellenbox {
        text-align: center;
    }
    
    span.fans {
        color:white;
    }
    .Introtext {
        margin: 0 auto;
        max-width: 720px;
        padding: 2rem;
        color: white;
        background-color: rgba(5, 5, 5, 0.7);
        box-shadow: 1px 1px 100px 2px white;
        border-radius: 50px;
    }
    
    .wholeinfoboxes {
        text-align: center;
    }
    
    
   
    
    .reports {
        padding: 1em;
        text-align: center;
        background-color:  rgba(166, 10, 10, 0.475);
        margin: 1em 0;
    }
    
    .report {
        padding: 1em;
        margin-bottom: 1em;
        background-color: rgb(175, 175, 175);
        border-radius: 40px 40px 40px 4px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.53);
    
    }

    .Newsarticle {
        color: white;
        padding: 1em;
        text-align: center;
        background-color:  rgba(166, 10, 10, 0.475);
        margin: 1em 0;
    }
    .Linklisten {
        color:white;
        text-align: left;
       
    }
    
   

    .icon-bar {
        position: fixed;
        top: 50%;
        left: 0;
        top: 1rem; 
    }
    

    .icon-bar ul, .icon-bar-adress ul {
        list-style: none; 
        padding: 0; 
        margin: 0; 
      }
      .icon-bar-adress ul {
          display:flex;
          flex-flow:wrap;
          justify-content: space-evenly;
      }


      .icon-bar ul li {
        animation-name: lights2;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate; }
  
      /* Style the links in the icon bar */
      .icon-bar a {
        display: block;
        text-align: center;
        color: white;
        padding: 1rem;
      }
  
      /* Farbwerte siehe https://brandcolors.net/ */ 
      .icon-bar .linkedin {
        background: #007bb5;
        color: white;
      }
      
      .icon-bar .twitter {
        background: #55ACEE;
        color: white;
      }
  
      .icon-bar .facebook {
        background: #3B5998;
        color: white;
      }
}
      /* 

      overflow:hidden fürs umgebene Element um Flow zu schließen
*/
      .clear-overflow {
          overflow: hidden;
      }

  /*  clearfix anstelle von overflow:hidden 
    um gefloatete Bilder in die davorgesehene Box zu quetschen */
       
        .clearfix::after {
	    content: "";
	    display: block;
	    clear: both;
}
        ODER

    
   /* Erstellen eines Block Formatting Contexts:    */

        .clear-flow-root {
        display: flow-root;
        }
        
   /* Element bleibt immter unter gefloaten Elementen:   */     

        .clear-both {
            clear:both;
        }


/* Media Query für kleinere Bildschirme */

@media screen and (max-width: 821px) {

.icon-bar {
   position: static;
  
}


.icon-bar ul {
    display: flex;
    list-style: none; 
    padding: 0; 
    margin: 0; 
    justify-content: end;
  }

  .icon-bar ul li {
        animation-name: lights2;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate; 
  }

  /* Style the links in the icon bar */
  .icon-bar a {
    display: block;
    text-align: center;
    color: white;
    padding: 1rem;
  }

  /* Farbwerte siehe https://brandcolors.net/ */ 
  .icon-bar .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .icon-bar .twitter {
    background: #55ACEE;
    color: white;
  }

  .icon-bar .facebook {
    background: #3B5998;
    color: white;
  }

}

 /* Ende @media */