@media screen {

    label {
        display: block;
        cursor: pointer;
        flex: 0 0 9rem;
    }
    
    form div {
        margin: 1rem 0;
        display: flex;
        flex-flow: wrap;
        justify-content: center
    }
    
    .submitbuttondiv {
        display:flex;
        margin: auto;
        max-width: 10rem;
    }

   .contactformsection {
        color: white;
        padding: 1rem;
        text-align: center;
        background-color: rgb(2, 66, 105);
        margin: 1em 0;
        flex: 1;
    }   

    .contactformsection input[type="text"],
    .contactformsection input[type="email"],
    .contactformsection textarea {
        color: black;
        padding: 0.5rem;
        text-align: left;
        font-size: 1rem;
        margin: 0.5em 0;
        border: 1px solid #ddd;
        border-radius: 0.25rem;
        width: 25rem;
    }

    .contactformsection textarea {
        max-width: 100%;
        min-height: 8rem;
    }

    .contactformsection button {
        font-size: inherit;
        font-family: inherit;
        letter-spacing: 1px;
        cursor: pointer;
        color: white;
        background-color: rgba(5, 5, 5, 0.7);
        animation-name: lights2;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate; 
        padding: 0.5rem;
        flex: 1;
    }
    .contactformsection button:hover,
    .contactformsection button:focus {
        background-color: turquoise;
        color: red;    
    
    }
    .contactformsection button:active {
        background-color: red;
        color: turquoise;
    }
    .contactbox {
        text-align: center;
        font-style: normal;
        text-align: center;
        margin: 1rem auto;
        max-width: 720px;
        padding: 1em 1em 1em 1em;
        color: white;
        background-color: rgba(5, 5, 5, 0.7);
        box-shadow: 1px 1px 100px 2px white;
        border-radius: 50px;
        background-image: url(htmlbgismall.jpg);
    }

    
}