@media screen {

    html {
        height: 100%;
        background-color: rgb(2, 66, 105);
       /* background-image: url(htmlbgi.jpg);*/
        background-position: center;
        background-attachment: fixed; 
       
    }


    body {
        min-height: 100%;
        margin: 0 auto;
        display: flex;
        flex-flow: column;
        min-width: 240px;
        
    
    }
    .parallax1 {
        /* The image used */
        background-image: url(../pics/4edit.jpg);
      
        /* Set a specific height */
        width: 100vw;
        height: 100vh;
        opacity: 0.8;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center center;
        
        background-repeat: no-repeat;
        background-size: cover;
    }

    @media screen and (max-width: 500px) {   
        .parallax1 {
            /* The image used */
            background-image: url(../pics/6.jpg);
         
        }
        .logo {
            opacity: 1;
            color: white;
            text-shadow: 3px 3px 0px black;
            padding: 18px;
            font-size: 25px;
            letter-spacing: 10px;
        }
    }
      
    .parallax2 {
        /* The image used */
        background-image: url(../pics/1.jpg);
      
        /* Set a specific height */
        height: 50vh;
        opacity: 0.8;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        display: flex;
    
      
      }

    .parallax3 {
    /* The image used */
    background-image: url(../pics/3.jpg);
    
    /* Set a specific height */
    height: 30vh;
    opacity: 0.8;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    }
    .parallax4 {
        /* The image used */
        background-image: url(../pics/11.jpg);
        
        /* Set a specific height */
        height: 50vh;
        opacity: 0.8;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        }
    .parallax5 {
        /* The image used */
        background-image: url(../pics/12.jpg);
        
        /* Set a specific height */
        height: 50vh;
        opacity: 0.8;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        }

        .divarticle {
            
            min-width: 320px;
            max-width: 720px;
            padding: 0 1rem;
            margin: 0 auto;
        }


    .Logoheader {
        position: absolute;
        left: 15%;
        top: 27%;
       
        text-align: left;
        color: white;
    }
    .logo {
        opacity: 1;
        color: white;
        padding: 18px;
        font-size: 25px;
        letter-spacing: 10px;
    }
    article {
        opacity: 0.8;
        padding: 2rem;
        text-align: center;
        color: white;
        background-color: rgb(2, 66, 105);
    }
    .text2 {
        margin: auto;
        color: white;
        text-shadow: 3px 3px 0px black;
        font-size: 25px;
        text-align: center;
    }
    .text3 {
        text-shadow: 3px 3px 0px black;
        color: rgb(255, 255, 255);
        margin: auto;
        font-size: 25px;
        text-align: center;
    }
    .iconbar {
        position: static;
        text-align: center;
        display: flex;
        margin: auto;
        height: 161px;
        top: 1rem; 
    }
    

    .icon-bar ul, .icon-bar-adress ul {
        list-style: none; 
        padding: 0; 
        margin: 1.5rem 0; 
        display: flex;
        justify-content: center;
      }
      .iconbar ul {
        list-style: none; 
        padding: 0; 
        margin: 0; 
        display:flex;
        flex-flow: wrap;
        justify-content: space-evenly;
      }


      .icon-bar ul li {
        animation-name: lights2;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate; 
        margin: 1rem;
    }
  
      /* Style the links in the icon bar */
      .icon-bar a, .backdoor a {
        display: block;
        text-align: center;
        color: white;
        padding: 1rem;
      }

      .backdoor {
          margin: 2rem auto;
          max-width: 90px;
          
      }
  
      /* Farbwerte siehe https://brandcolors.net/ */ 
      .icon-bar .linkedin {
        background: #007bb5;
        color: white;
      }
      
      .icon-bar .twitter {
        background: #55ACEE;
        color: white;
      }
  
      .icon-bar .facebook {
        background: #3B5998;
        color: white;
      }
}

/* Color Theme Swatches in Hex */
.Stadion-Mal-1-hex { color: #047FA4; }
.Stadion-Mal-2-hex { color: #95DBCA; }
.Stadion-Mal-3-hex { color: #025169; }
.Stadion-Mal-4-hex { color: #82BFD2; }
.Stadion-Mal-5-hex { color: #AD1F23; }

/* Color Theme Swatches in RGBA */
.Stadion-Mal-1-rgba { color: rgba(4, 127, 164, 1); }
.Stadion-Mal-2-rgba { color: rgba(149, 219, 202, 1); }
.Stadion-Mal-3-rgba { color: rgba(2, 81, 105, 1); }
.Stadion-Mal-4-rgba { color: rgba(130, 191, 210, 1); }
.Stadion-Mal-5-rgba { color: rgba(173, 31, 35, 1); }

/* Color Theme Swatches in HSLA */
.Stadion-Mal-1-hsla { color: hsla(193, 95, 32, 1); }
.Stadion-Mal-2-hsla { color: hsla(165, 49, 72, 1); }
.Stadion-Mal-3-hsla { color: hsla(193, 96, 20, 1); }
.Stadion-Mal-4-hsla { color: hsla(194, 47, 66, 1); }
.Stadion-Mal-5-hsla { color: hsla(358, 69, 40, 1); }






    .site-header  {
        background-color: rgb(166, 10, 10);
        padding: 1rem 1rem 0 1rem; 
        color: black;
        text-align: center;
        min-width: 100%;
    }

    .site-footer a {
    
        color: white;
        text-decoration: none;
    }

    .site-footer ul {
        display: flex;

    }
    

    
    .site-footer {font-size: smaller;}
   
    .headtitle {
        text-align: center;
    
    }

    /* Headtitle Responsive zur Bildschirmgröße machen */

    .headtitle img {
        width: 100%;

    }


    .headtitle,
    .titlepic,
    .slogan {
       
        margin-bottom: 0;
        color: white;
 
    }

    .wrapper {
        min-width: 320px;
        max-width: 720px;
        padding: 0 1rem;
        margin: 0 auto;

    }

    .networklist {
        padding: 0;
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 0;
    }

    .networklist li {
        list-style: none;
        flex: 1;
        min-width: 140px;
        padding: 1rem;
    }

    .networklist li h3 {
        font-size: 1.5rem;
    }

@media screen and (min-width: 600px) {
    

    .news .wrapper .Newsarticle {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        grid-gap: 1rem;
    }
    .news .wrapper .news-intro {
        grid-column: 1/4;
    }

    .contact .site-content .wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 0.3fr 5fr;
        grid-gap: 1rem;
    }
    .capital {
        grid-column:1/3;
    }
}
    main a:link {
        color: blue;
    }
    main a:visited {
        color: rgb(0, 184, 216);
    }
    main a:hover,
    main a:focus {
        color: rgb(255, 183, 0);
        
    }
    main a:active {
        color: rgba(255, 0, 0, 0.865);
      
    }
    
  /* Double Sqaures nach jedem Link 
   main a[href^="http"]::after {
        content: "\29C9"
    } */

    .Linklisten h2 {
        text-align: center;
    }

/* CSS für Flex Infoboxen */

    .flexinfoboxes {
        margin: 1rem;
        color: white;
        padding: 1rem;
    }

    .flex-info-list {
        display: flex;
    
        padding: 0;
        margin: 0;
        flex-direction: row;
        flex-wrap: wrap;

    }
    .flex-info-list li{
        list-style: none;
        padding: 1rem;
        margin: 0.5rem auto;
        text-align: center;
        border: 8px double white;
        background-color: rgb(175, 175, 175);
        background-image: url(htmlbgismall.jpg);
        box-shadow: 4px 4px 10px 10px rgba(5, 238, 255, 0.673);
    }

    /* CSS für gefloatete Bilder */

    .bildlinks {
        float: left;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
    .bildrechts {
        float: right;
        margin-left: 1rem;
        margin-bottom: 1rem;
    }

    @media screen and (max-width: 376px) {
        .bildrechts {
            float: none;
            text-align: center;
    }

    }

    /* Clear Code statt Overflow:hidden, für jedes gefloatete Bild 

  zB.   article:after {
        content:"";
        display: table;
        clear: both;
    }
*/



/* Nur für gefloatete Elemente, um den Text kreisförmig um das Element zu gestalten */

    .floatkreis {
        shape-outside: circle(50%);
    }

   
/* Ende @media */