@media screen {

    img {
        display: none;
    }

    html {
        height: 100%;
        background-color: rgb(2, 66, 105);
       /* background-image: url(htmlbgi.jpg);*/
        background-position: center;
        background-attachment: fixed; 
       
    }


    body {
        min-height: 100%;
        margin: 0 auto;
        display: flex;
        flex-flow: column;
        min-width: 240px;
        
    
    }

   /* .Logoheader {
        position: absolute;
        left: 15%;
        top: 27%;
       
        text-align: left;
        color: white;
    }*/
    .logo {
        opacity: 1;
        color: white;
        padding: 18px;
        font-size: 25px;
        letter-spacing: 10px;
        color: white;
        text-shadow: 3px 3px 0px black;
    }
    /*
    .parallax1 {
        /* The image used 
        background-image: url(../pics/4edit.jpg);
                        
      
        /* Set a specific height 
        max-width: 100vw ;
        height: 100vh;
        opacity: 0.8;
        /* Create the parallax scrolling effect 
        background-attachment: fixed;
        background-position: center center;
        
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
   
    
      
    .parallax2 {
        /* The image used 
        background-image: url(../pics/1.jpg);
        width: 100vw;
        /* Set a specific height 
        height: 50vh;
        opacity: 0.8;
        /* Create the parallax scrolling effect 
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        display: flex;
    
      
      }

    .parallax3 {
    /* The image used 
    background-image: url(../pics/3.jpg);
    width: 100vw;
    /* Set a specific height 
    height: 30vh;
    opacity: 0.8;
    /* Create the parallax scrolling effect 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    }
    .parallax4 {
        /* The image used 
        background-image: url(../pics/11.jpg);
        width: 100vw;
        /* Set a specific height 
        height: 50vh;
        opacity: 0.8;
        /* Create the parallax scrolling effect 
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        }
    .parallax5 {
        /* The image used 
        background-image: url(../pics/12.jpg);
        width: 100vw;
        /* Set a specific height 
        height: 50vh;
        opacity: 0.8;
        /* Create the parallax scrolling effect 
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        
        }*/

        .divarticle {
            
            min-width: 320px;
            max-width: 720px;
            padding: 0 1rem;
            margin: 0 auto;
        }



    article {
        opacity: 0.8;
        padding: 2rem;
        text-align: center;
        color: white;
        background-color: rgb(2, 66, 105);
    }

    .port-article {
        padding:  2rem 0;

    }
    .text2 {
    
        margin: auto;
        color: white;
        text-shadow: 3px 3px 0px black;
        font-size: 25px;
        text-align: center;
    }
    .text3 {
        text-shadow: 3px 3px 0px black;
        color: rgb(255, 255, 255);
        margin: auto;
        font-size: 25px;
        text-align: center;
    }
    .iconbar {
        position: static;
        text-align: center;
        display: flex;
        margin: auto;
        height: 161px;
        top: 1rem; 
        
    }
    

    .icon-bar ul, .icon-bar-adress ul {
        list-style: none; 
        padding: 0; 
        margin: 1.5rem 0; 
        display: flex;
        justify-content: center;
      }
      .iconbar ul {
        list-style: none; 
        padding: 0; 
        margin: 0; 
        display:flex;
        flex-flow: wrap;
        justify-content: space-evenly;
      }


      .icon-bar ul li {
        animation-name: lights2;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate; 
        margin: 1rem;
    }
  
      /* Style the links in the icon bar */
      .icon-bar a, .backdoor a {
        display: block;
        text-align: center;
        color: white;
        padding: 1rem;
      }

      .backdoor {
          margin: 2rem auto;
          max-width: 90px;
          
      }
  
      /* Farbwerte siehe https://brandcolors.net/ */ 
      .icon-bar .linkedin {
        background: #007bb5;
        color: white;
      }
      
      .icon-bar .twitter {
        background: #55ACEE;
        color: white;
      }
  
      .icon-bar .facebook {
        background: #3B5998;
        color: white;
      }


    /* Color Theme Swatches in Hex */
    .Stadion-Mal-1-hex { color: #047FA4; }
    .Stadion-Mal-2-hex { color: #95DBCA; }
    .Stadion-Mal-3-hex { color: #025169; }
    .Stadion-Mal-4-hex { color: #82BFD2; }
    .Stadion-Mal-5-hex { color: #AD1F23; }

    /* Color Theme Swatches in RGBA */
    .Stadion-Mal-1-rgba { color: rgba(4, 127, 164, 1); }
    .Stadion-Mal-2-rgba { color: rgba(149, 219, 202, 1); }
    .Stadion-Mal-3-rgba { color: rgba(2, 81, 105, 1); }
    .Stadion-Mal-4-rgba { color: rgba(130, 191, 210, 1); }
    .Stadion-Mal-5-rgba { color: rgba(173, 31, 35, 1); }

    /* Color Theme Swatches in HSLA */
    .Stadion-Mal-1-hsla { color: hsla(193, 95, 32, 1); }
    .Stadion-Mal-2-hsla { color: hsla(165, 49, 72, 1); }
    .Stadion-Mal-3-hsla { color: hsla(193, 96, 20, 1); }
    .Stadion-Mal-4-hsla { color: hsla(194, 47, 66, 1); }
    .Stadion-Mal-5-hsla { color: hsla(358, 69, 40, 1); }






    .site-header  {
        background-color: rgb(166, 10, 10);
        padding: 1rem 1rem 0 1rem; 
        color: black;
        text-align: center;
        min-width: 100%;
    }

    .site-footer a {
    
        color: white;
        text-decoration: none;
    }

    .site-footer ul {
        display: flex;

    }
    

    
    .site-footer {font-size: smaller;}
   
    .headtitle {
        text-align: center;
    
    }

    /* Headtitle Responsive zur Bildschirmgröße machen */

    .headtitle img {
        width: 100%;

    }


    .headtitle,
    .titlepic,
    .slogan {
       
        margin-bottom: 0;
        color: white;
 
    }

    .wrapper {
        min-width: 320px;
        max-width: 720px;
        padding: 0 1rem;
        margin: 0 auto;

    }

}

@media only screen and ( -webkit-min-device-pixel-ratio: 1.3 ),
only screen and (    min--moz-device-pixel-ratio: 1.3 ),
only screen and (      -o-min-device-pixel-ratio: 2.6/2 ), /* returns 1.3, see Dev.Opera */
only screen and (         min-device-pixel-ratio: 1.3 ),
only screen and ( min-resolution: 124.8dpi ),
only screen and ( min-resolution: 1.3dppx ) {

 /*   .parallax1, .parallax2, .parallax3, .parallax4, .parallax5 {
        height: auto;
      
}*/
    img {
        display: block;
        z-index: 1;
        height: auto;
   
    }
    .parallax1 {
        display: flex;
        flex: 1 1 auto;
        justify-content: left;
        align-items: end;
    }

    .Logoheader {
        position: absolute;
       margin-left: 2rem;
       margin-bottom: 4rem;
        text-align: left;
        color: white;
        z-index: 4;
    }
    @media screen and (min-width: 550px) {

        .parallax1 {
            display: flex;
            flex: 1 1 auto;
            justify-content: left;
            align-items: center;
        }
    
        .Logoheader {
            position: absolute;
           margin-left: 2rem;
           margin-top: 20rem;
            text-align: left;
            color: white;
            z-index: 4;
        }



    }

    .logo {
        opacity: 1;
        color: white;
        padding: 18px;
        font-size: 25px;
        letter-spacing: 10px;
    }

    .divarticle {
        font-size: 18px;
    }

    .parallax2, .parallax3, .parallax4, .parallax5 {
        display: flex;
        flex: 1 1 auto;
        justify-content: center;
        align-items: center;
    }
    .text2 {
        position: absolute;
        margin: auto;
       z-index: 3;
    }
    .text3 {
            position: absolute;
            margin: 10rem 0 0 0;
           z-index: 3;
    }
       








}