@media screen {


    .menubutton {

        display: flex;
        width: 3.8rem;
        color: rgb(2, 66, 105);

        font-family: inherit;
        font-size: inherit;
        text-align: center;

        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        margin: 1rem auto;

        animation-name: lights;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .menubutton i {
        margin: auto;
        font-size: 1.7rem;
    }

    .site-nav > .wrapper {
        padding: 0 1rem;
    }


    .nav {
        position: -webkit-sticky;
        position: fixed;
        right: 5%;
        top: 0.5em;
        z-index: 1;
    
        
        padding: 0.5rem 0 0 0;
        margin-bottom: 1em;

       
    }

    @keyframes lights {
        0%   {box-shadow: 1px 1px 15px 1px rgba(5, 238, 255, 0.673);}
        100%  {box-shadow: 1px 1px 20px 5px rgba(5, 238, 255, 0.673);} }

    @keyframes lights2 {
            0%   {box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.673);}
            100%  {box-shadow: 1px 1px 20px 5px rgb(255, 255, 255);} }

    .navlist {
        display: flex;

        padding: 0;
        margin: 0;
        justify-content: end;
        flex-direction: row;
       /* flex-wrap: wrap; */
        flex-flow: column;
    }

    .navlist li:first-child {
        padding-top: 1rem;
    }
    .site-nav-list {
        display: flex;

        padding: 0;
        margin: 0;
        justify-content: end;
        flex-direction: row;
       /* flex-wrap: wrap; */
        flex-flow: column;

    }

    .navlist a {
        
        display: block;
        color: white;
        text-decoration: none;
        min-width: 80px;
       /* text-align: center; */
        padding: 0.5rem 1rem;

    }
    

    .site-nav-list a:active {
        text-decoration: none;
        background-color: rgb(37, 230, 244); 
        color: white;
    }

    .navlist li {
      /*  display: inline-block; */
        list-style: none;
    }
    
    .navlist {
       max-height: 0;
       overflow:hidden;
    }

    /* Die Navigationsliste ein und ausblenden lassen */

    .show-menu + .navlist {
        max-height: 100rem;
        transition: 1000ms ease-in-out;
    }

}







 /* Ende @media */