@media screen {


    .menubutton {

        display: flex;
       width: 3.8rem;
        color: rgb(2, 66, 105);

        font-family: inherit;
        font-size: inherit;
        text-align: center;

        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        margin: auto;

        animation-name: lights;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .menubutton i {
        margin: auto;
        font-size: 1.7rem;
    }

    .site-nav > .wrapper {
        padding: 0 1rem;
    }


    .nav {
        position: -webkit-sticky;
        position: fixed;
        right: 5%;
        top: 0.5em;
        z-index: 1;
    
        
        padding: 0.5rem 0 0 0;
        margin-bottom: 1em;

       
    }

    @keyframes lights {
        0%   {box-shadow: 1px 1px 15px 1px rgba(5, 238, 255, 0.673);}
        100%  {box-shadow: 1px 1px 20px 5px rgba(5, 238, 255, 0.673);} }

    @keyframes lights2 {
            0%   {box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.673);}
            100%  {box-shadow: 1px 1px 20px 5px rgb(255, 255, 255);} }

    .navlist {
        display: flex;

        padding: 0;
        margin: 0;
        justify-content: end;
        flex-direction: row;
       /* flex-wrap: wrap; */
        flex-flow: column;
    }

    .navlist li:first-child {
        padding-top: 1rem;
    }
    .site-nav-list {
        display: flex;

        padding: 0;
        margin: 0;
        justify-content: end;
        flex-direction: row;
       /* flex-wrap: wrap; */
        flex-flow: column;

    }

    .navlist a {
        
        display: block;
        color: white;
        text-decoration: none;
        min-width: 80px;
       /* text-align: center; */
        padding: 0.5rem 1rem;

    }
    
    .site-nav-list a.you-are-here {
        text-decoration: none;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffb76b+12,ff7c00+32,ffb76b+62,ff7f04+100 */
        background: #f3c5bd; /* Old browsers */
        background: -moz-linear-gradient(top,  #f3c5bd 0%, #e86c57 50%, #A60A0A 51%, #ff6600 75%, #F0CD8B 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #f3c5bd 0%,#e86c57 50%,#A60A0A 51%,#ff6600 75%,#F0CD8B 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #f3c5bd 0%,#e86c57 50%,#A60A0A 51%,#ff6600 75%,#F0CD8B 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 ); /* IE6-9 */

        color: white;
    }
    .site-nav-list a:hover,
    .site-nav-list a:focus {
        text-decoration: none;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffb76b+12,ff7c00+32,ffb76b+62,ff7f04+100 */
    background: #f3c5bd; /* Old browsers */
    background: -moz-linear-gradient(top,  #f3c5bd 0%, #e86c57 50%, #A60A0A 51%, #ff6600 75%, #F0CD8B 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f3c5bd 0%,#e86c57 50%,#A60A0A 51%,#ff6600 75%,#F0CD8B 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f3c5bd 0%,#e86c57 50%,#A60A0A 51%,#ff6600 75%,#F0CD8B 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 ); /* IE6-9 */

        color: white;
    }

    .site-nav-list a:active {
        text-decoration: none;
        background-color: rgb(37, 230, 244); 
        color: white;
    }

    .navlist li {
      /*  display: inline-block; */
        list-style: none;
    }
    
    .navlist {
       max-height: 0;
       overflow:hidden;
    }

    /* Die Navigationsliste ein und ausblenden lassen */

    .show-menu + .navlist {
        max-height: 100rem;
        transition: 1000ms ease-in-out;
    }

    /* Media Query hinzufügen für breite Bildschirme 

    @media screen and (max-width: 3000px) {

        .menubutton { display: none; }

        .navlist {
            max-height: none;
            overflow: auto;
            transition: none;

            flex-flow: row;
            flex-wrap: wrap;
        }

        .site-nav { padding: 0; }
        .site-nav > .wrapper { padding: 0 1rem; }

        .navlist li { 
            display: inline-block; 
            flex: 1;
            text-align: center;
            
        }

       /* .site-nav-list li:first-child {

            
        }*/


    }







} /* Ende @media */