@media screen {

    .footerlist {
        display: flex;
        list-style-type: none;
      
        margin: 0;
        padding: 0.5rem;
        color: white;
        margin-bottom:0;
    }
    

    .footerlist li {
        margin-right: 1rem;

    }

    .footerlist li:last-child {

        margin-right: 0;
        margin-left: auto;

    }

    .footerlist li:first-child {
        margin-left: 4rem;
    }


    

    }

    .meta-nav-list a.you-are-here {
        text-decoration: underline;
        background-color: rgb(182, 85, 85); 
        color: white;
    }
    .meta-nav-list a:hover,
    .meta-nav-list a:focus {
        text-decoration: underline;
        background-color: rgb(182, 85, 85); 
        color: white;
    }

    .meta-nav-list a:active {
        text-decoration: underline;
        background-color: rgb(37, 230, 244); 
        color: white;
    }
























}   /* Ende @media */