@media screen {


    .nav {
        position: -webkit-sticky;
        position: fixed;
        right: 5%;
        top: 0.5em;
        z-index: 1;
    
        
        padding: 0.5rem 0 0 0;
        margin-bottom: 1em;

       
    }

    @keyframes lights {
        0%   {box-shadow: 1px 1px 15px 1px rgba(5, 238, 255, 0.673);}
        100%  {box-shadow: 1px 1px 20px 5px rgba(5, 238, 255, 0.673);} }

    @keyframes lights2 {
            0%   {box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.673);}
            100%  {box-shadow: 1px 1px 20px 5px rgb(255, 255, 255);} }

    .navlist {
        display: flex;

        padding: 0;
        margin: 0;
        justify-content: end;
        flex-direction: row;
       /* flex-wrap: wrap; */
        flex-flow: column;
    }

    .navlist li:first-child {
        margin-top: 1rem;
    }


    .navlist a {
        
        display: block;
        color: white;
        text-decoration: none;
        min-width: 80px;
       /* text-align: center; */
        padding: 0.5rem 1rem;

    }
    

    .navlist a:hover {
        text-decoration: none;
        background-color: rgba(4, 127, 164, 0.082); 
        color: white;
    }
    .navlist a:active {
        background-color: rgba(4, 127, 164, 0.296); 
    }

    .navlist li {
      /*  display: inline-block; */
        list-style: none;
    }
    
    .navlist {
       max-height: 0;
       overflow:hidden;
    }

    /* Die Navigationsliste ein und ausblenden lassen */

    .show-menu  {
        max-height: 100rem;
        transition: 2000ms ease-in-out ;

    }
    


    .hamburg { 
        display: block;
        background: rgb(255, 255, 255);
        width: 65px; height: 50px; 
        position: relative; 
        margin-top: 1rem;
        margin-left: auto; margin-right: auto;
        border-radius: 5px; 
        transition: border-radius .5s;
        animation-name: lights;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
     }

     input#hamburg {display:none}


     .line { 
        position: absolute; 
        left:10px;
        height: 4px; width: 45px; 
        background: rgb(0, 0, 0); border-radius: 2px;
        display: block; 
        transition: 0.5s; 
        transform-origin: center; 
     }
     
     .line:nth-child(1) { top: 12px; }
     .line:nth-child(2) { top: 24px; }
     .line:nth-child(3) { top: 36px; }
     
     .hamburg.checked .line:nth-child(1){
        transform: translateY(12px) rotate(-45deg);
     }
     
     .hamburg.checked .line:nth-child(2){
        opacity:0;
     }
     
     .hamburg.checked .line:nth-child(3){
        transform: translateY(-12px) rotate(45deg);
     }


}


 /* Ende @media */