@media screen {

    .meta-nav-list {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    

    .meta-nav-list li {
        margin-right: 1rem;

    }

    .meta-nav-list li:last-child {

        margin-right: 0;
        margin-left: auto;

    }

    .meta-nav-list a {
        
        display: block;
        color: white;
        text-decoration: none;
        min-width: 20px;
       /* text-align: center; */
       background: #f3c5bd; /* Old browsers */
       background: -moz-linear-gradient(top,  #f3c5bd 0%, #e86c57 50%, #A60A0A 51%, #ff6600 75%, #A60A0A 100%); /* FF3.6-15 */
       background: -webkit-linear-gradient(top,  #f3c5bd 0%,#e86c57 50%,#A60A0A 51%,#ff6600 75%,#A60A0A 100%); /* Chrome10-25,Safari5.1-6 */
       background: linear-gradient(to bottom,  #f3c5bd 0%,#e86c57 50%,#A60A0A 51%,#ff6600 75%,#A60A0A 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
       filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 ); /* IE6-9 */
       
        padding: 0.5rem;

    }

    .meta-nav-list a.you-are-here {
        text-decoration: underline;
        background-color: rgb(182, 85, 85); 
        color: white;
    }
    .meta-nav-list a:hover,
    .meta-nav-list a:focus {
        text-decoration: underline;
        background-color: rgb(182, 85, 85); 
        color: white;
    }

    .meta-nav-list a:active {
        text-decoration: underline;
        background-color: rgb(37, 230, 244); 
        color: white;
    }
























}   /* Ende @media */