@media screen {

    .site-nav {
        position: -webkit-sticky;
        position: sticky;
        top: 0.5em;

        background-color: rgba(166, 10, 10);
        box-shadow: 4px 4px 10px 10px rgba(5, 238, 255, 0.673);
        border: 8px double white;

        padding: 0;
        margin-bottom: 1em;
    }

    .site-nav-list {
        display: flex;

        padding: 0;
        margin: 0;

        flex-direction: row;
        flex-wrap: wrap;
        

    }

    .site-nav-list a {
        
        display: block;
        color: white;
        text-decoration: none;
        min-width: 80px;
        text-align: center;
        background-color: rgba(166, 10, 10);
        padding: 0,5rem;

    }

    .site-nav-list a.you-are-here {
        text-decoration: underline;
        background-color: rgb(182, 85, 85); 
        color: white;
    }
    .site-nav-list a:hover,
    .site-nav-list a:focus {
        text-decoration: underline;
        background-color: rgb(182, 85, 85); 
        color: white;
    }

    .site-nav-list a:active {
        text-decoration: underline;
        background-color: rgb(37, 230, 244); 
        color: white;
    }

    .site-nav-list li {
        display: inline-block;
        list-style: none;
    }
    
} /* Ende @media */